


$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;


//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-medium: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;


//Font sizes

$default-font-size: 1.6rem;

//MODAL

$fade-duration-in: .85s;
$fade-duration-out: .7s;
$duration-in: .6s;
$duration-out: .3s;

$timing: ease-in-out;
$id: '#fade';
